.searchMilestones {
    width: 100vw;
    min-height: 100vh;
    background-color: #DCDADA;
    display: flex;
    flex-flow: column;
}

.searchMilestones .header {
    flex: 0 1 auto;
}

.searchMilestones .content {
    flex-grow: 1;
    flex-basis: 1px;
}

.goBack {
    flex: 0 1 auto;
}

.pageName {
    flex: 0 1 auto;
}

.searchBox {
    padding-bottom: 1rem;
    flex: 0 1 auto;
}

.searchBox input {
    padding: 0.3rem;
    font-size: 1.2rem;
    width: 100%;
    -webkit-box-sizing: border-box;
}

.scrollableBox {
    /* background-color: #81E981; */
    flex-grow: 1;
    flex-basis: 1px;
    overflow-y: scroll;
}